<!--圖片-->
<div class="logo">
  <%= image_tag "logo.png", alt:"國立臺北商業大學" , width:"60%"  %>
</div>

<nav aria-label="breadcrumb" class="mt-2 mb-3 "  >
  <div class="bread">
    <ol class="breadcrumb p-0 mb-0">
      <li class="breadcrumb bread-des mb-0 pr-0 pl-1"><img src="http://100th.ntub.edu.tw/style/25/images/hd_nav_li.gif" class="mr-1 p-1"><a href="#" style="color:rgb(255, 255, 255)" class="mr-0 pr-0" style="text-decoration:none">百年校史</a></li>
      <li class="breadcrumb bread-des mb-0 pr-0 pl-1"><img src="http://100th.ntub.edu.tw/style/25/images/hd_nav_li.gif" class="mr-1 p-1"><a href="#" style="color:rgb(255, 255, 255)" class="mr-0 pr-0" style="text-decoration:none">百年盛典</a></li>
      <li class="breadcrumb bread-des mb-0 pr-0 pl-1"><img src="http://100th.ntub.edu.tw/style/25/images/hd_nav_li.gif" class="mr-1 p-1"><a href="#" style="color:rgb(255, 255, 255)" class="mr-0 pr-0" style="text-decoration:none">校友歡聚</a></li>
      <li class="breadcrumb bread-des mb-0 pr-0 pl-1"><img src="http://100th.ntub.edu.tw/style/25/images/hd_nav_li.gif" class="mr-1 p-1"><a href="#" style="color:rgb(255, 255, 255)" class="mr-0 pr-0" style="text-decoration:none">慶祝活動</a></li>
      <li class="breadcrumb bread-des mb-0 pr-4 pl-1"><img src="http://100th.ntub.edu.tw/style/25/images/hd_nav_li.gif" class="mr-1 p-1"><a href="#" style="color:rgb(255, 255, 255)" class="mr-0 pr-0" style="text-decoration:none">建設北商</a></li>
    </ol>
  </div>
</nav>
