<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "img01.jpg", alt:"01" , width:"100%"  %>
    </div>
    <div class="carousel-item">
      <%= image_tag "img02.jpg", alt:"01" , width:"100%"  %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</br>
<div>
  <span class=" h4 pl-2 title">最新消息</span>
</div>
</br>
<div class="cantainer">
  <div class="row">
    <div class="col-9" style="border:1px #ccc solid;">
      <table>
        <tr>
          <td>資訊</td>
        </tr>
        <tr>
          <td> <a href="#" class="title-1">國立臺北商業大學建校一百周年特刊</a> </td>
        </tr>
        <tr >
          <td><a href="#" class="title-1">《活動新訊》百周年校慶電影節</a> </td>
        </tr>
        <tr>
          <td><a href="#" class="title-1">「活動新訊」-百周年校慶公益點燈 </a> </td>
        </tr>

      </table>
    </div>
    <div class="col-3" style="border:1px #ccc solid;">
      <table>
        <tr>
          <td>日期</td>
        </tr>
        <tr>
          <td><a href="#" class="title-1">2017-12-8</a></td>
        </tr>
        <tr>
          <td><a href="#" class="title-1">2017-12-5</a></td>
        </tr>
        <tr>
          <td><a href="#" class="title-1">2017-12-1</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
</br>
<div>
  <span class=" h4 pl-2 title">活動花絮</span>
</div>
</br>
<div class="card" style="width: 18rem;">
  <%= image_tag "d01.jpg", alt:"01" , width:"100%"  %>
  <div class="card-body">
    <p class="card-text"> 【公告】大學校長暨北商榮譽講座高峰論壇</p>
  </div>
</div>
