/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body,html{
  background: rgb(246,243,238);
}

.bread{
  min-height: 57px;

  .breadcrumb{
    background-color: rgb(215,75,14)
  }
}

#carouselExampleControls{
  background-color: #fff;
  .carousel-item{
    z-index: 99;
  }
}

.title{
  border-left:  rgb(255,55,0) 10px solid;
}

a.title-1{
  list-style: none;
  color: #000;
  font-size: 12px;
}
